
.service-link {
  text-decoration: none;
  height: 29px;
  padding-top: 11px;
  padding-left: 44px;
  display: block;
  margin-top: 0;
  padding-right: 30px;
  color: #333;
  background: #FFF;
  border-bottom: 1px solid #FFF;
}

.service-link:hover {
  background-color: #5585EF;
  color: #FFF;
}

.service-logo {
  position: absolute;
  top: 8px;
  left: 9px;
}